exportPattern("^[[:alpha:]]+")
export("%~~%")
exportClasses(psem, summary.psem, AIC.psem, BIC.psem)
export(summary, AIC, BIC)
import("lme4")
importFrom("methods", "as")
importFrom("pbkrtest", "KRmodcomp")
importFrom("stats", "AIC", "BIC", "as.formula", "cor", "cor.test",
           "drop.terms", "formula", "gaussian", "model.matrix", "na.omit", "nobs", "pchisq",
           "pt", "reformulate", "resid", "terms", "update", "vcov")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
